.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
  font-size: 16px;
}

.header-logotup {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: #2e2f42;
  text-decoration: none;
  text-transform: uppercase;
}
.logofint {
  color: #4d5ae5;
}
.header-link {
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--centrocolor-color);
  text-decoration: none;
}
.header-link:hover {
  color: #404bbf;
}
.header-email {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondcolor-color);
  text-decoration: none;
}
.header-email:hover,
.header-email:focus {
  color: #404bbf;
}
.header-tel {
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondcolor-color);
  text-decoration: none;
}
.header-tel:hover,
.header-tel:focus {
  color: #404bbf;
}
.adress-ul {
  list-style-type: none;
}
.header-ul {
  list-style-type: none;
}
.first-section {
  background-color: var(--centrocolor-color);
}

.heading {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.first-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
}
.first-btn:hover {
  background: #404bbf;
}
.advantages-ul {
  list-style-type: none;
}

.headline {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--centrocolor-color);
}
.heading-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondcolor-color);
}

.desc {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--centrocolor-color);
}
.img-ul {
  list-style-type: none;
}

.caption {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--centrocolor-color);
}
.people-ul {
  list-style-type: none;
}

.list-name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--centrocolor-color);
}
.list-profesion {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondcolor-color);
}
.footer {
  background: #2e2f42;
}
.footer-text {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
.footer-logotup {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: #f4f4fd;
  text-decoration: none;
  text-transform: uppercase;
}

/*--------------page2-------------*/

.btn-ul button {
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  color: #4d5ae5;
  background-color: #f4f4fd;
}
.btn-ul button:hover {
  color: #ffffff;
  background-color: #404bbf;
}
.btn-ul {
  list-style-type: none;
}
.content-ul {
  list-style-type: none;
}
.content-ul h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--centrocolor-color);
}
.content-ul {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondcolor-color);
}
:root {
  --centrocolor-color: #2e2f42;
  --secondcolor-color: #434455;
}
